// Place all the styles related to the fumbls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primaryColor: pink;

.fumbl { 

	h1 { color: $primaryColor; }

	.body {
		background-color: orange;
		border: 4px solid darken($primaryColor, 25%);
		padding: 30px;
		margin: 2px;
	}

	font: {
	    weight: bold;
	    size: 24px;
	    style: italic;
	}

	.body-clone {
   		@extend .body;
	}

}


